:root{
	--col1: aliceblue;
	--col2: #fff;
	--col3: #F5F5F5;
}
body{
	background-color: var(--col2);
}
img{
	width: 15vw;
	height: 13vw;
	margin: 0vw 11vw;

}
h2{
	position: absolute;
	margin: -2.5vw 7vw;
}
.container{
	margin: 2vw 30vw;
	width: 35vw;
	font-size: 1.3vw;

}
.content1{
	background-color: var(--col3);
	height: 7vw;
	border: solid 1px #B0B0B0;
	margin: 2vw 0vw;

	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

}
.lang{
	font-size: 1.1vw;
	font-weight: bold;
	background-color: var(--col2);
	position: absolute;
	padding: 0.5vw;
	width:10vw;
	margin: -1.5vw 1.6vw;
	box-shadow: #B0B0B0 2px 2px 2px 2px;
}
select{
	padding: 0.4vw;
	margin: 3vw 2.2vw;
	width: 18vw;
}

.content2{
	background-color: var(--col3);
	height: 10vw;
	border: solid 1px #B0B0B0;
	margin: 3.5vw 0vw;

}
.con{
	font-size: 1.1vw;
	font-weight: bold;
	background-color: var(--col2);
	position: absolute;
	padding: 0.5vw;
	width:7vw;
	margin: -1.5vw 1.6vw;
	box-shadow: #B0B0B0 2px 2px 2px 2px;
}
#img{
	position: absolute;
	width: 1.5vw;
	height: 1.5vw;
	margin: 0vw 0.6vw;
}
.p{
	margin: 3vw 2vw;
}
p{
	margin: 1vw 2vw;
}
input{
	margin: 0vw 2vw;
	width: 13vw;
	padding: 0.3vw;
}
#user{
	margin-left: 3vw;
}
.content3{
	background-color: var(--col1);
	height: 5vw;
	width: 34.9vw;
	border: solid 1px #B0B0B0;
	position: absolute;
	margin: -4vw 0vw;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;

}
#btn{
	margin: 1.5vw 23vw;
	padding: 0.3vw;
	border-radius: 10px;
	font-size: 1.1vw;

}